@use 'sass:map';
@use 'sass:math';
@use 'sass:color';
@use 'common/vars' as *;

$--button-border-width: 1px;
$--button-font-size: $font-size-base;
$--button-padding-vertical: math.div($component-size-base - $--button-border-width * 2 - $--button-font-size, 2);
$--button-padding-horizontal: $--button-padding-vertical + 3;

$--button-small-font-size: $font-size-extraSmall; // TODO: $font-size-small
$--button-small-padding-vertical: math.div($component-size-small - $--button-border-width * 2 - $--button-small-font-size, 2);
$--button-small-padding-horizontal: $--button-small-padding-vertical + 3;

$--button-default-background-color: $fill-color-blank;
$--button-default-border-color: $border-color-base;
$--button-default-font-color: $text-color-regular;
$--button-default-disabled-background-color: $color-white;
$--button-default-disabled-border-color: $border-color-lighter;
$--button-default-disabled-font-color: $text-color-placeholder; // @color-text-disabled;
$--button-default-link-color: $text-color-regular;
$--button-default-link-hover-color: $text-color-secondary;
$--button-default-link-active-color: $text-color-primary;

@mixin button-variant($type) {
  $--blank: $fill-color-blank;
  $--base: map.get($colors, $type, 'base');
  $--light-3: map.get($colors, $type, 'light-3');
  $--light-5: map.get($colors, $type, 'light-5');
  $--light-8: map.get($colors, $type, 'light-8');
  $--light-9: map.get($colors, $type, 'light-9');
  $--dark-2: map.get($colors, $type, 'dark-2');

  background-color: $--base;
  border-color: $--base;
  color: $--blank;

  &:hover {
    background-color: $--light-3;
    border-color: $--light-3;
    color: $--blank;
  }

  &:active,
  &.is-active {
    background-color: $--dark-2;
    border-color: $--dark-2;
    color: $--blank;
  }

  &:focus-visible {
    outline-color: $--light-5;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: $--light-5;
      border-color: $--light-5;
      color: $--blank;
    }
  }

  &.is-text {
    &,
    &:hover,
    &:active,
    &.is-active {
      color: $--base;
    }

    &.is-disabled {
      color: $--light-5;
    }
  }

  &.is-link {
    color: $--base;

    &:hover {
      color: $--light-3;
    }

    &:active,
    &.is-active {
      color: $--dark-2;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $--light-5;
      }
    }
  }

  &.is-plain, &.is-dashed {
    background-color: $--light-9;
    border-color: $--light-5;
    color: $--base;

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        background-color: $--light-9;
        border-color: $--light-8;
        color: $--light-5;
      }
    }
  }

  &.is-plain {
    &:hover {
      background-color: $--base;
      border-color: $--base;
      color: $--blank;
    }

    &:active,
    &.is-active {
      background-color: $--dark-2;
      border-color: $--dark-2;
      color: $--blank;
    }
  }

  &.is-dashed {
    &:hover {
      background-color: $--light-9;
      border-color: $--light-3;
      color: $--base;
    }

    &:active,
    &.is-active {
      background-color: $--light-9;
      border-color: $--dark-2;
      color: $--dark-2;
    }
  }
}

.el-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  border-radius: $border-radius-base;

  line-height: 1;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;

  appearance: none;
  background-color: transparent;
  outline: none;
  user-select: none;
  cursor: pointer;

  font-size: $--button-font-size;
  padding: $--button-padding-vertical $--button-padding-horizontal;

  .el-icon:not(.el-icon--left) {
    font-size: 1.2em;
  }

  &:focus-visible {
    outline: 2px solid map.get($colors, 'primary', 'light-5');
    outline-offset: 1px;
  }

  &.is-disabled {
    cursor: not-allowed;
  }

  &.is-loading {
    position: relative;
    pointer-events: none;

    &:before {
      z-index: 1;
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: $mask-color-extraLight;
    }
  }

  &.is-square {
    width: $component-size-base;
    height: $component-size-base;
    padding: 0;
  }

  &.is-block {
    width: 100%;
    flex: 1;
  }

  &.is-dashed {
    border-style: dashed;
  }

  &--small {
    padding: $--button-small-padding-vertical $--button-small-padding-horizontal;
    font-size: $--button-small-font-size;

    &.is-square {
      width: $component-size-small;
      height: $component-size-small;
    }
  }

  &.is-link {
    padding: 2px;
  }

  &.is-text {
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: $fill-color-light;
      border-color: $fill-color-light;
    }

    &:active,
    &.is-active {
      background-color: $fill-color-base;
      border-color: $fill-color-base;
    }

    &.is-has-bg {
      background-color: $fill-color-light;

      &:hover {
        background-color: $fill-color-base;
        border-color: $fill-color-base;
      }

      &:active,
      &.is-active {
        background-color: $fill-color-dark;
        border-color: $fill-color-dark;
      }
    }
  }

  &.is-link,
  &.is-link:hover,
  &.is-link:active,
  &.is-text.is-disabled {
    background-color: transparent !important;
    border-color: transparent !important;
  }

  // Theme

  &--default {
    background-color: $--button-default-background-color;
    border-color: $--button-default-border-color;
    color: $--button-default-font-color;

    &:hover {
      background-color: map.get($colors, 'primary', 'light-9');
      border-color: map.get($colors, 'primary', 'light-7');
      color: $color-primary;
    }

    &:active,
    &.is-active {
      border-color: map.get($colors, 'primary', 'dark-2');
      color: map.get($colors, 'primary', 'dark-2');;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus {
        background-color: $--button-default-disabled-background-color;
        border-color: $--button-default-disabled-border-color;
        color: $--button-default-disabled-font-color;
      }
    }

    &.is-plain, &.is-dashed {
      &:not(.is-disabled) {
        &:hover {
          background-color: $fill-color-blank;
          border-color: $color-primary;
        }

        &:active,
        &.is-active {
          background-color: $fill-color-blank;
          border-color: map.get($colors, 'primary', 'dark-2');
        }
      }
    }

    &.is-text {
      &,
      &:hover,
      &:active,
      &.is-active {
        color: $--button-default-font-color;
      }

      &.is-disabled {
        color: $--button-default-disabled-font-color;
      }
    }

    &.is-link {
      &:not(.is-disabled) {
        &:hover {
          color: $--button-default-link-hover-color
        }

        &:active {
          color: $--button-default-link-active-color;
        }
      }
    }
  }

  @each $type in $types {
    &--#{$type} {
      @include button-variant($type);
    }
  }
}
