.el-flex {
  display: flex;
  flex-direction: row;

  &--inline {
    display: inline-flex;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--vertical {
    flex-direction: column;
  }

  &--vertical-reverse {
    flex-direction: column-reverse;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-evenly {
    justify-content: space-evenly;
  }

  &--justify-around {
    justify-content: space-around;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--items-center {
    align-items: center;
  }

  &--items-start {
    align-items: flex-start;
  }

  &--items-end {
    align-items: flex-end;
  }
}

