.el-icon-loading {
  animation: rotating 2s linear infinite;
}
.el-icon--right {
  margin-left: 4px;
}
.el-icon--left {
  margin-right: 4px;
}

@keyframes rotating {
  100% {
    transform: rotateZ(1turn);
  }
}

.el-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 1em;
  width: 1em;
  line-height: 1em;

  position: relative;
  fill: currentColor;
  font-size: inherit;

  &.is-loading {
    animation: rotating 2s linear infinite;
  }

  svg {
    height: 1em;
    width: 1em;
  }
}
