.el-icon--right {
  margin-left: 4px;
}
.el-icon--left {
  margin-right: 4px;
}

@keyframes rotating {
  100% {
    transform: rotateZ(1turn);
  }
}

/// @example
/// - 基础: <span class="el-icon"><svg-element /></span>
/// - 加载: <span class="el-icon is-loading"><svg-element /></span>
/// - 在右边: <ref-element /><span class="el-icon el-icon--right"><svg-element /></span>
/// - 在左边: <span class="el-icon el-icon--left"><svg-element /></span><ref-element />

.el-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 1em;
  width: 1em;
  line-height: 1em;

  position: relative;
  fill: currentColor;
  font-size: inherit;

  &.is-loading {
    animation: rotating 2s linear infinite;
  }

  svg {
    height: 1em;
    width: 1em;
  }
}
