@import '../mixins/mixins';

.el-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;

  &:hover,
  &:active,
  &:focus {
    > .el-scrollbar__bar {
      opacity: 1;
      transition: opacity 340ms ease-out;
    }
  }

  &__wrap {
    overflow: auto;
    height: 100%;

    &--hidden-default {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: $--scrollbar-color;
    opacity: 0.3;
    transition: .3s opacity;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__bar {
    position: absolute;
    right: $--scrollbar-gap;
    bottom: $--scrollbar-gap;
    z-index: 1;
    border-radius: 64px;
    opacity: 0;
    transition: opacity 120ms ease-out;

    &.is-always {
      opacity: 1;
    }

    &.is-vertical {
      width: $--scrollbar-size;
      top: $--scrollbar-gap;

      > div {
        width: 100%;
      }
    }

    &.is-horizontal {
      height: $--scrollbar-size;
      left: $--scrollbar-gap;

      > div {
        height: 100%;
      }
    }
  }
}
