@use 'sass:map';
@use 'sass:color';
@use 'common/vars' as *;

$--bg-color: $fill-color-blank;
$--fg-color: $color-primary;

$--checked-fg-color: $fill-color-blank;
$--checked-bg-color: $color-primary;

.el-toggle-button {
  position: relative;

  &:hover {
    background-color: $fill-color-blank;
    border-color: $border-color-base;
    color: $--fg-color;
  }

  &__inner {
    position: absolute;
    top: -1px; right: -1px; bottom: -1px; left: -1px;
    z-index: 1;
    border-radius: $border-radius-base;
  }

  &__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;

    &:focus-visible + .el-toggle-button__inner {
      outline: 2px solid map.get($colors, 'primary', 'light-5');
      outline-offset: 1px;
    }
  }

  &__label {
    font-size: inherit;
  }

  &.is-checked {
    background-color: $--checked-bg-color;
    border-color: $--checked-bg-color;
    color: $--checked-fg-color;

    &.is-disabled {
      background-color: color.mix($color-white, $--checked-bg-color);
      border-color: color.mix($color-white, $--checked-bg-color);
      color: $--checked-fg-color;
    }
  }
}
