@use 'sass:map';
@use 'common/vars' as *;

$--tree-font-color: $text-color-regular;
$--tree-node-hover-background-color: $fill-color-light;
$--tree-expand-icon-color: $text-color-placeholder;

.el-tree {
  position: relative;
  cursor: default;
  background: $fill-color-blank;
  color: $--tree-font-color;

  &__empty-block {
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  &__empty-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $text-color-secondary;
    font-size: $font-size-base;
  }

  &__drop-indicator {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color-primary;
  }
}

.el-tree-node {
  white-space: nowrap;
  outline: none;

  &__content {
    display: flex;
    align-items: center;
    height: 26px;
    cursor: pointer;

    & > .el-tree-node__expand-icon {
      padding: 6px;
      box-sizing: content-box;
    }
    & > label.el-checkbox {
      margin-right: 8px;
      height: 100%;
    }
    &:hover {
      background-color: $--tree-node-hover-background-color;
    }

    .el-tree.is-dragging & {
      cursor: move;

      & * {
        pointer-events: none;
      }
    }

    .el-tree.is-dragging.is-drop-not-allow & {
      cursor: not-allowed;
    }
  }

  &:focus > &__content {
    background-color: $--tree-node-hover-background-color;
  }

  &.is-drop-inner > .el-tree-node__content {
    .el-tree-node__label {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__expand-icon {
    cursor: pointer;
    color: $--tree-expand-icon-color;
    font-size: 12px;

    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;

    &.expanded {
      transform: rotate(90deg);
    }

    &.is-leaf {
      color: transparent;
      cursor: default;
    }
  }

  &__loading-icon {
    margin-right: 8px;
    font-size: $font-size-base;
    color: $--tree-expand-icon-color;
  }
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: map.get($colors, 'primary', 'light-9');
}
