@import '../mixins/mixins';

@include b(scrollbar) {
  overflow: hidden;
  position: relative;
  height: 100%;

  &:hover,
  &:active,
  &:focus {
    > .#{$namespace}-scrollbar__bar {
      opacity: 1;
      transition: opacity 340ms ease-out;
    }
  }

  @include e(wrap) {
    overflow: auto;
    height: 100%;

    @include m(hidden-default) {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  @include e(thumb) {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: $--scrollbar-background-color;
    opacity: $--scrollbar-opacity;
    transition: .3s opacity;

    &:hover {
      opacity: $--scrollbar-hover-opacity;
    }

    &:active {
      opacity: $--scrollbar-active-opacity;
    }
  }

  @include e(bar) {
    position: absolute;
    right: $--scrollbar-gap;
    bottom: $--scrollbar-gap;
    z-index: 1;
    border-radius: 64px;
    opacity: 0;
    transition: opacity 120ms ease-out;

    @include when(always) {
      opacity: 1;
    }

    @include when(vertical) {
      width: $--scrollbar-size;
      top: $--scrollbar-gap;

      > div {
        width: 100%;
      }
    }

    @include when(horizontal) {
      height: $--scrollbar-size;
      left: $--scrollbar-gap;

      > div {
        height: 100%;
      }
    }
  }
}
