*, *:before, *:after {
  box-sizing: border-box;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
form,
fieldset,
legend,
blockquote,
input,
textarea,
select,
th,
td,
section,
nav,
article,
aside,
hgroup,
header,
footer,
address,
b,
em,
i,
code {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, #app {
  height: 100%;
}

body {
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

ul,
ol,
li {
  list-style: none;
}

p {
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
