@use 'sass:math';
@use 'vars';

// 禁用底层滚动条
html, body, #app {
  overflow: hidden;
}

body {
  font-size: 14px;
  color: vars.$el-text-color-regular;
  line-height: math.div(22, 14);
}

#app {
  position: relative;
  isolation: isolate;
  touch-action: none;
  overscroll-behavior: contain;
}
