@use 'sass:color';
@use 'sass:math';
@import './config';

/* BEM support Func
 -------------------------- */
@function selectorToString($selector) {
  $selector: inspect($selector);
  $selector: str-slice($selector, 2, -2);
  @return $selector;
}

@function containsModifier($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, $modifier-separator) {
    @return true;
  } @else {
    @return false;
  }
}

@function containWhenFlag($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, '.' + $state-prefix) {
    @return true
  } @else {
    @return false
  }
}

@function containPseudoClass($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, ':') {
    @return true
  } @else {
    @return false
  }
}

@function hitAllSpecialNestRule($selector) {

  @return containsModifier($selector) or containWhenFlag($selector) or containPseudoClass($selector);
}

@function tint-color($color, $weight) {
  @return color.mix(white, $color, $weight);
}

@function shade-color($color, $weight) {
  @return color.mix(black, $color, $weight);
}

@function round-color($color) {
  $r: math.round(color.red($color)); // >= 79 使用 math.round(color.channel($color, 'red'))
  $g: math.round(color.green($color)); // >= 79 使用 math.round(color.channel($color, 'green'));
  $b: math.round(color.blue($color)); // >= 79 使用 math.round(color.channel($color, 'blue'));
  $a: color.alpha($color); // >= 79 使用 color.channel($color, 'alpha')

  @return rgba($r, $g, $b, $a);
}
